#calculator_workplace{
    width: 250px;
    border: 2px solid black;
    height: 250px;
    padding: 50px;
    padding-top: 100px;
    margin: auto;
    margin-top: 10%;
    
}
h3{
    text-align: center;
}
#inner{
    text-align: center;
}
.input{
    width: 150px;
    
}
.button{
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    border: none;
    transition: all 1s;
    position: relative;
    margin-left: 5px;
}
.button:hover{
    background-color: white;
    color: black;
    border: none;
}
@media (max-width: 480px) {
    #calculator_workplace {
        width: 200px;
        height: 250px;
        padding: 20px;
        padding-top: 30px;
        position: relative;
        margin-top: 50%;
    }
    
    .input {
        width: 100px;
    }
    .button {
        width: 30px;
        padding: 3px;
    }
}
